ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #0999F1;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
body{
  background-color: #DC8BD1;
  color: #FFFFFF;
  font-family: Times;
  width:auto;
  margin:auto;
  min-width:600px;
  max-width:7000px;
  height:auto;
  min-height:600px;
  max-height:7000px;

}


/*comment*/
h1 {
  font-size: 35px;
  padding-left: 73px;
  font-family: Verdana;


}


h1, h2, h3{
  font-family: Verdana;
  color: white;

}

p{
  font-size: 70px;
  font-family: Times;
  padding-right: 70px;
  padding-left: 70px;
}

p, li{
  font-size: 20px;
  font-family: Times;
}

a {
  color: #ED7055;
  display: block;
  font-size: 20px;
}

#header {
  border: 50px, white;
  /* padding: 11px; */
  font-size: 50px;
  font-weight: bold;
  background-color: white;
  color: #49A8AD;
  text-align: center;
  width: 100%
  /* padding-left: 450px; */

}

#profile-pic{
  height: 80px;
  vertical-align: middle;
}


.content {
  padding: 1px 1px 1px 1px;

}

#bio{
  border-bottom: 1px solid white;
}

.heading{
  font-family: Verdana;
  font-size: 25px
}

/* #lang{
  padding-left: 36px;
  margin: center;
} */

.site{
  padding-left: 70px;
  font-family: "Lucida Console", Monaco, monospace;
}
/*
.eng{
  padding-left: 400px;
  padding-top: 100px;
} */
* {box-sizing: border-box}


/* Style the tab */
.tab {
  float: left;
  border: 1px ;
  background-color: #FFE9FB;
  width: 20%;
  height: 1630px;
  /* min-width:20%; */
  /* max-width:100%; */
  /* min-height:1760px; */
  /* max-height:10000px; */


}

.body{
 padding-left: 250px;

}

ul{
  padding-left: 90px;
}


/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 17px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-family: Lucida;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #E3D1DF;
  width: 100%;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: center;
  padding: 30px 10px;
  border: 1px solid #ccc;
  width: 70%, fixed;
  border-left: none;
 height: auto;
}

.ptext {
  float:right;
}

.eng {
  padding:30px;
}

#lang {
  margin-left: 100px;
  margin-top: 40px;
  height: 300px;
  width: 250px
}


.resources{
  margin-left: 40px;
  padding-left:40px;
}

table {
  width: 90%;
  border: 1px solid black;

}

td {
  border: 1px solid black;
  padding: 30px 10px;
}

tr {
  border: 1px solid black;
}

th{
  border: 1px solid black;
}

.table {
  margin-left: 73px;
}

.para {
  font-size: 20px;
  color: white;
}

.space {
  margin-left: 73px;
}

.black {
  color: black;
  font-size: 20px;
}

.ptag {
  padding-left: 0;
}

.sidelinks{
  text-decoration: none;
}

/* .star{
  margin-left: 25px;
} */

.movin{
  position: relative;
  margin-left: 550px;
  top: -350px;
}

.up{
  position:relative;
  top:-170px;
}

.upp{
  position: relative;
  top: -180px;
  padding-left: 85px;
  font-family: Times;
  font-size: 20px;
}

#chartContainer{
  position: relative;
  bottom: -50px;
  margin-left: 80px;
}

.m{
  position: relative;
  top: -180px;
  margin-left: 80px;
}

.u{
  position: relative;
  top: -190px;
  margin-left: 330px;
}

/*  stsar*/
